<div>
  <table mat-table [dataSource]="ingredients" class="table">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="header-style" *matHeaderCellDef>
        <strong>ID</strong>
      </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.ingId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell class="header-style" *matHeaderCellDef>
        <strong>Nome</strong>
      </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.ingName}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell class="header-style" *matHeaderCellDef>
        <strong>Preço</strong>
      </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.ingPrice | currency : "R$ "}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="header-style center-align" *matHeaderCellDef>
        <strong>Ações</strong>
      </th>
      <td mat-cell *matCellDef="let ingredient" class="center-align"> 
        <button mat-raised-button class="button-style" color="primary">
          <mat-icon class="icon-style" aria-label="Side nav toggle icon">edit</mat-icon>
          Editar
        </button>
        <button mat-raised-button (click)="delete(ingredient.ingId)" class="button-style remove-button-color">
          <mat-icon class="icon-style" aria-label="Side nav toggle icon">delete</mat-icon>
          Remover
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns : displayedColumns;"></tr>
    
  </table>
</div>
<!--
<div>
    <h1 mat-dialog-title>Hi {{data.name}}</h1>
    <div mat-dialog-content>
      <p>What's your favorite animal?</p>
      <mat-form-field>
        <input matInput [(ngModel)]="data.animal">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </div>
    
</div>

-->
<!--

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let ingredient of ingredients">
    <td>{{ingredient.id}}</td>
    <td>{{ingredient.name}}</td>
    <td>{{ingredient.price}}</td>

  </tr>

</table>


<ul>
  <li *ngFor="let ingr of ingredients">
    {{ingr.id}}
    {{ingr.name}}
    {{ingr.price}}
  </li>
</ul>
-->
