.table {
    min-width: 600px;
    width: 70%;
}

.name-column-style {
    width: 40%;
}

.header-style {
    font-size: 100%;
}

.button-style {
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 70%;
    color: white;
    padding-right: 15px;
    padding-left: 10px;
}

.remove-button-color {
    background-color:brown;
}

.icon-style {
    font-size: 20px;
}

.center-align {
    text-align: center;
}