<form [formGroup]="ingredientForm" (ngSubmit)="onFormSubmit(ingredientForm.value)" class="register-form">
  <ul>
    <p>
      <mat-form-field class="name-style">
          <input matInput placeholder="Ingrediente" formControlName="ingName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="price-style">
          <input matInput placeholder="Preço" formControlName="ingPrice">      
      </mat-form-field>
    </p>
    <p>
      <button type="submit" mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
      </button>
    </p>
  </ul>
</form>

